#sidebar{
    z-index: 9999;
    width: 257px;
    padding-top: 100px;
    color: #020202;
    height: 100%;
    transition: all 0.3s;
    background: aliceblue;
}
#sidebar ul li a{
    display: block;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    line-height: 40px;  
 }
#sidebar ul li a:hover .angle{
   transform: rotate(90deg);
}
#sidebar span{
    font-size: 16px;
    margin-left: 6px;
    color: rgb(20, 20, 20);
   
}
#sidebar i{
   font-size: 18px;
   margin-left: 20px;
   color: rgb(20, 20, 20);
}
.dashboard h6{
   font-weight: 600;
}
#sidebar .treeview-menu1 li a{
    color:rgb(20, 20, 20);
       
}
#sidebar .treeview-menu1 li a i{
    color:rgb(20, 20, 20);
    margin-left: 30px;      
}
#sidebar .treeview-menu2 li a i{
    color:rgb(20, 20, 20);
    margin-left: 45px;      
}